In [1]:
!pip install pandas matplotlib

Requirement already satisfied: pandas in ./.venv/lib/python3.11/site-packages (2.1.0)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.11/site-packages (3.8.0)
Requirement already satisfied: numpy>=1.23.2 in ./.venv/lib/python3.11/site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in ./.venv/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.11/site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.11/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.11/site-packages (from matplotlib) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in ./.venv/lib/python3.11/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.11/site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in ./.venv/lib/python3.11/site-packages (from matplotlib) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.11/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# Tratamento de dados

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
import numpy as np

## Entendimento dos dados

In [4]:
df = pd.read_csv('waitlist_kidney_brazil.csv', encoding='iso-8859-1')

In [5]:
df['date'].min()

'2000-01-03'

In [6]:
df.head()

,Id,date,age_at_list_registration,age_cat,time_on_Dialysis,race,sex,underline_disease,diabetes,Blood_type,number_transfusion,gestation,number_gestation,prior_transplant,number_prior_transplant,subregion,cPRA,cPRA_cat,HLA_A1,HLA_A2,HLA_B1,HLA_B2,HLA_DR1,HLA_DR2,DR_00,B_00,A_00,calculated_frequency_DR.f1,calculated_frequency_DR.f2,calculated_frequency_DR.f,calculated_frequency_B.f1,calculated_frequency_B.f2,calculated_frequency_B.f,calculated_frequency_A.f1,calculated_frequency_A.f2,calculated_frequency_A.f,chagas,anti.HBc,anti.HCV,agHBs,patient_still_on_list,date_acutal,death,Time_death,Transplant,Transplant_Y_N,X36MthsTx,Time_Tx,priorization,removed_list,razon_removed,time,event
0,4,2017-06-29,67,Maior.60,1.0,Branca,M,Outras,1,A,0,Não,NaN,Não,0,UNIFESP,0,Zero,1,26,44,51,3,7,heterozigoto,heterozigoto,heterozigoto,0.18,0.22,3.96,0.20,0.14,2.80,0.17,0.06,1.02,Não,Não,Não,Não,Sim,43307,Não,13,Não,Não,0,13.07,Não,Não,NaN,392,0
1,5,2008-11-03,58,18.a.60,4.0,Branca,M,Diabetes,0,A,0,Não,NaN,Não,0,UNICAMP,0,Zero,1,24,18,35,11,0,homozigoto,heterozigoto,heterozigoto,0.23,0.00,0.00,0.09,0.21,1.89,0.17,0.16,2.72,Não,Não,Não,Não,Não,43307,Sim,69,Óbito Lista,Não,0,68.87,Não,Não,NaN,2066,2
2,6,2010-07-13,51,18.a.60,2.0,Branca,M,HAS,1,O,0,Não,NaN,Não,0,UNIFESP,64,Entre_50_80,24,25,14,18,1,15,heterozigoto,heterozigoto,heterozigoto,0.19,0.21,3.99,0.10,0.09,0.90,0.16,0.02,0.32,Não,Não,Não,Não,Não,43307,Não,98,Não,Não,0,12.17,Não,Sim,Removido (suspenso > 365 dias),365,3
3,7,2011-10-03,52,18.a.60,17.0,Branca,M,Diabetes,0,O,0,Não,NaN,Sim,1,UNIFESP,2,Entre_0_50,24,25,14,18,1,15,heterozigoto,heterozigoto,heterozigoto,0.19,0.21,3.99,0.10,0.09,0.90,0.16,0.02,0.32,Não,Não,Não,Não,Não,43307,Não,83,Não,Não,0,12.17,Não,Sim,Removido (suspenso > 365 dias),365,3
4,8,2006-07-05,67,Maior.60,68.0,Parda,M,HAS,1,A,0,Não,NaN,Não,0,UNIFESP,0,Zero,24,68,14,27,13,15,heterozigoto,heterozigoto,heterozigoto,0.25,0.21,5.25,0.10,0.04,0.40,0.16,0.13,2.08,Não,Não,Não,Não,Não,43307,Sim,6,Óbito Lista,Não,0,6.47,Não,Não,NaN,194,2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48153 entries, 0 to 48152
Data columns (total 53 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Id                          48153 non-null  int64
 1   date                        48153 non-null  object
 2   age_at_list_registration    48153 non-null  int64
 3   age_cat                     48153 non-null  object
 4   time_on_Dialysis            46817 non-null  float64
 5   race                        48153 non-null  object
 6   sex                         48153 non-null  object
 7   underline_disease           48153 non-null  object
 8   diabetes                    48153 non-null  int64
 9   Blood_type                  48153 non-null  object
 10  number_transfusion          48153 non-null  int64
 11  gestation                   48153 non-null  object
 12  number_gestation            19464 non-null  float64
 13  prior_transplant            48153 non-null  object
 14  number_prior_transplant     48153 non-null  int64
 15  subregion                   48153 non-null  object
 16  cPRA                        48153 non-null  int64
 17  cPRA_cat                    48153 non-null  object
 18  HLA_A1                      48153 non-null  int64
 19  HLA_A2                      48153 non-null  int64
 20  HLA_B1                      48153 non-null  int64
 21  HLA_B2                      48153 non-null  int64
 22  HLA_DR1                     48153 non-null  int64
 23  HLA_DR2                     48153 non-null  int64
 24  DR_00                       48153 non-null  object
 25  B_00                        48153 non-null  object
 26  A_00                        48153 non-null  object
 27  calculated_frequency_DR.f1  48153 non-null  float64
 28  calculated_frequency_DR.f2  48153 non-null  float64
 29  calculated_frequency_DR.f   48153 non-null  float64
 30  calculated_frequency_B.f1   48153 non-null  float64
 31  calculated_frequency_B.f2   48153 non-null  float64
 32  calculated_frequency_B.f    48153 non-null  float64
 33  calculated_frequency_A.f1   48153 non-null  float64
 34  calculated_frequency_A.f2   48153 non-null  float64
 35  calculated_frequency_A.f    48153 non-null  float64
 36  chagas                      44141 non-null  object
 37  anti.HBc                    48153 non-null  object
 38  anti.HCV                    44141 non-null  object
 39  agHBs                       44141 non-null  object
 40  patient_still_on_list       48153 non-null  object
 41  date_acutal                 48153 non-null  int64
 42  death                       48153 non-null  object
 43  Time_death                  48153 non-null  int64
 44  Transplant                  48153 non-null  object
 45  Transplant_Y_N              48153 non-null  object
 46  X36MthsTx                   48153 non-null  int64
 47  Time_Tx                     48153 non-null  float64
 48  priorization                48153 non-null  object
 49  removed_list                48153 non-null  object
 50  razon_removed               15295 non-null  object
 51  time                        48153 non-null  int64
 52  event                       48153 non-null  int64
dtypes: float64(12), int64(17), object(24)
memory usage: 19.5+ MB

In [8]:
targets = ['death', 'Time_death', 'Transplant', 'Transplant_Y_N', 'X36MthsTx', 'Time_Tx', 'removed_list', 'time', 'event']

In [9]:
df[targets].head()

,death,Time_death,Transplant,Transplant_Y_N,X36MthsTx,Time_Tx,removed_list,time,event
0,Não,13,Não,Não,0,13.07,Não,392,0
1,Sim,69,Óbito Lista,Não,0,68.87,Não,2066,2
2,Não,98,Não,Não,0,12.17,Sim,365,3
3,Não,83,Não,Não,0,12.17,Sim,365,3
4,Sim,6,Óbito Lista,Não,0,6.47,Não,194,2

In [10]:
df.iloc[df['Time_death'].argmax(),]

Id                                                      1787
date                                              2000-01-04
age_at_list_registration                                  51
age_cat                                              18.a.60
time_on_Dialysis                                         0.0
race                                                   Parda
sex                                                        M
underline_disease                                        GNC
diabetes                                                   1
Blood_type                                                 A
number_transfusion                                         1
gestation                                                Não
number_gestation                                         NaN
prior_transplant                                         Sim
number_prior_transplant                                    1
subregion                                            HCFMUSP
cPRA                                                      91
cPRA_cat                                            Maior_80
HLA_A1                                                     2
HLA_A2                                                    68
HLA_B1                                                    44
HLA_B2                                                    51
HLA_DR1                                                   11
HLA_DR2                                                   13
DR_00                                           heterozigoto
B_00                                            heterozigoto
A_00                                            heterozigoto
calculated_frequency_DR.f1                              0.23
calculated_frequency_DR.f2                              0.25
calculated_frequency_DR.f                               5.75
calculated_frequency_B.f1                                0.2
calculated_frequency_B.f2                               0.14
calculated_frequency_B.f                                 2.8
calculated_frequency_A.f1                               0.42
calculated_frequency_A.f2                               0.13
calculated_frequency_A.f                                5.46
chagas                                                   Não
anti.HBc                                                 Não
anti.HCV                                                 Sim
agHBs                                                    Não
patient_still_on_list                                    Não
date_acutal                                            43307
death                                                    Não
Time_death                                               226
Transplant                                               Não
Transplant_Y_N                                           Não
X36MthsTx                                                  0
Time_Tx                                                 61.1
priorization                                             Não
removed_list                                             Sim
razon_removed                 Removido (suspenso > 365 dias)
time                                                    1833
event                                                      3
Name: 1333, dtype: object

In [11]:
df['event'].value_counts()

event
3    14356
1    13732
0    10933
2     9132
Name: count, dtype: int64

In [12]:
df[['event','removed_list', 'Transplant']].value_counts()

event  removed_list  Transplant
3      Sim           Não            14356
1      Não           Sim            13732
0      Não           Não            10933
2      Não           Óbito Lista     8193
       Sim           Óbito Lista      939
Name: count, dtype: int64

## Tratamento de nulos

In [13]:
df_clean = df.copy()

In [14]:
df.isna().sum()

Id                                0
date                              0
age_at_list_registration          0
age_cat                           0
time_on_Dialysis               1336
race                              0
sex                               0
underline_disease                 0
diabetes                          0
Blood_type                        0
number_transfusion                0
gestation                         0
number_gestation              28689
prior_transplant                  0
number_prior_transplant           0
subregion                         0
cPRA                              0
cPRA_cat                          0
HLA_A1                            0
HLA_A2                            0
HLA_B1                            0
HLA_B2                            0
HLA_DR1                           0
HLA_DR2                           0
DR_00                             0
B_00                              0
A_00                              0
calculated_frequency_DR.f1        0
calculated_frequency_DR.f2        0
calculated_frequency_DR.f         0
calculated_frequency_B.f1         0
calculated_frequency_B.f2         0
calculated_frequency_B.f          0
calculated_frequency_A.f1         0
calculated_frequency_A.f2         0
calculated_frequency_A.f          0
chagas                         4012
anti.HBc                          0
anti.HCV                       4012
agHBs                          4012
patient_still_on_list             0
date_acutal                       0
death                             0
Time_death                        0
Transplant                        0
Transplant_Y_N                    0
X36MthsTx                         0
Time_Tx                           0
priorization                      0
removed_list                      0
razon_removed                 32858
time                              0
event                             0
dtype: int64

### Número de gestações

In [15]:
print(((df['number_gestation'] == 0) & (df['sex'] == 'F')).sum())
print(((df['number_gestation'].isna()) & (df['sex'] == 'F')).sum())

7428
10

In [16]:
df_clean['number_gestation'].fillna(0, inplace=True)

### Tempo em diálise

In [17]:
df_clean['time_on_Dialysis'].fillna(1, inplace=True)

### Chagas, Anti HCV e Anti HB

In [18]:
df_clean['agHBs'].value_counts()

agHBs
Não    44022
Sim      119
Name: count, dtype: int64

In [19]:
df_clean['chagas'].value_counts()

chagas
Não    44069
Sim       72
Name: count, dtype: int64

In [20]:
df_clean['anti.HCV'].value_counts()

anti.HCV
Não    43595
Sim      546
Name: count, dtype: int64

In [21]:
for col in 'agHBs', 'chagas', 'anti.HCV':
    df_clean[col].fillna('Não', inplace=True)

### Razón removed

In [22]:
df_clean['razon_removed'].value_counts()

razon_removed
Removido (suspenso > 365 dias)     12985
Transferido para outro Estado        662
Não quer ser transplantado           592
Removido sem condições clínicas      412
Removido pela equipe                 254
Função renal recuperada              212
Abandonou o tratamento                93
Removido administrativo               62
Removido (inscrição duplicada)        17
Transferido de Equipe                  6
Name: count, dtype: int64

In [23]:
df_clean[['razon_removed', 'removed_list']].fillna('Não removido',inplace=False).value_counts()

razon_removed                    removed_list
Não removido                     Não             32858
Removido (suspenso > 365 dias)   Sim             12985
Transferido para outro Estado    Sim               662
Não quer ser transplantado       Sim               592
Removido sem condições clínicas  Sim               412
Removido pela equipe             Sim               254
Função renal recuperada          Sim               212
Abandonou o tratamento           Sim                93
Removido administrativo          Sim                62
Removido (inscrição duplicada)   Sim                17
Transferido de Equipe            Sim                 6
Name: count, dtype: int64

In [24]:
df_clean = df_clean[df_clean['razon_removed'] != 'Removido (inscrição duplicada)']

In [25]:
df_clean.drop(columns=['razon_removed'], inplace=True);

### Remapeamento de features

In [26]:
df.columns

Index(['Id', 'date', 'age_at_list_registration', 'age_cat', 'time_on_Dialysis',
       'race', 'sex', 'underline_disease', 'diabetes', 'Blood_type',
       'number_transfusion', 'gestation', 'number_gestation',
       'prior_transplant', 'number_prior_transplant', 'subregion', 'cPRA',
       'cPRA_cat', 'HLA_A1', 'HLA_A2', 'HLA_B1', 'HLA_B2', 'HLA_DR1',
       'HLA_DR2', 'DR_00', 'B_00', 'A_00', 'calculated_frequency_DR.f1',
       'calculated_frequency_DR.f2', 'calculated_frequency_DR.f',
       'calculated_frequency_B.f1', 'calculated_frequency_B.f2',
       'calculated_frequency_B.f', 'calculated_frequency_A.f1',
       'calculated_frequency_A.f2', 'calculated_frequency_A.f', 'chagas',
       'anti.HBc', 'anti.HCV', 'agHBs', 'patient_still_on_list', 'date_acutal',
       'death', 'Time_death', 'Transplant', 'Transplant_Y_N', 'X36MthsTx',
       'Time_Tx', 'priorization', 'removed_list', 'razon_removed', 'time',
       'event'],
      dtype='object')

In [27]:
df[['event', 'Transplant', 'removed_list']].value_counts()

event  Transplant   removed_list
3      Não          Sim             14356
1      Sim          Não             13732
0      Não          Não             10933
2      Óbito Lista  Não              8193
                    Sim               939
Name: count, dtype: int64

In [28]:
df['time'].describe()

count    48153.000000
mean      1090.576350
std        955.582713
min          0.000000
25%        414.000000
50%        800.000000
75%       1470.000000
max       6776.000000
Name: time, dtype: float64

In [29]:
import math

id = lambda x: x

imperialize_disease = lambda x: {
        'Outras': 'other',
        'HAS': 'hypertension',
        'Diabetes': 'diabetes',
        'DNC': 'virulent_newcastle_disease',
        'Pielonefrite': 'pyelonephritis',
        'GNC': 'glomerulonephritis'
    }[x]

imperialize_allele_category = lambda x: 'homozygous' if x == 'homozigoto' else 'heterozygous'

translate_boolean = lambda x: x == "Sim"

categorize_event = lambda x: ['waiting', 'transplanted', 'died_waiting', 'removed'][x]

feature_map = {
    "date_registered": ("date", pd.to_datetime),
    "age_registered": ("age_at_list_registration", id),
    "dialysis_session_count": ("time_on_Dialysis", np.vectorize(lambda x: 0 if math.isnan(x) else x)),
    "sex": ("sex", id),
    "race": ("race", id),
    "underlying_disease": ("underline_disease", np.vectorize(imperialize_disease)),
    "diabetes": ("diabetes", lambda x: x == 1),
    "chagas": ("chagas", lambda x: x == 1),
    "blood_type": ("Blood_type", id),
    "transfusion_count": ("number_transfusion", id),
    "gestation": ("gestation", translate_boolean),
    "prior_transplant": ("prior_transplant", translate_boolean),
    "c_pra": ("cPRA", id),
    "hla_a1": ("HLA_A1", id),
    "hla_a2": ("HLA_A2", id),
    "hla_b1": ("HLA_B1", id),
    "hla_b2": ("HLA_B2", id),
    "hla_dr1": ("HLA_DR1", id),
    "hla_dr2": ("HLA_DR2", id),
    "dr_00": ("DR_00", np.vectorize(imperialize_allele_category)),
    "b_00": ("B_00", np.vectorize(imperialize_allele_category)),
    "a_00": ("A_00", np.vectorize(imperialize_allele_category)),
    "anti_hbc": ("anti.HBc", translate_boolean),
    "anti_hcv": ("anti.HCV", translate_boolean),
    "hbs_ag": ("agHBs", translate_boolean),
    "event": ("event", np.vectorize(categorize_event)),
    "days_waiting": ("time", id)
}

df_mapped = pd.DataFrame()
for key, (source, transform) in feature_map.items():
    df_mapped[key] = transform(df[source])
df_mapped.head()

,date_registered,age_registered,dialysis_session_count,sex,race,underlying_disease,diabetes,chagas,blood_type,transfusion_count,gestation,prior_transplant,c_pra,hla_a1,hla_a2,hla_b1,hla_b2,hla_dr1,hla_dr2,dr_00,b_00,a_00,anti_hbc,anti_hcv,hbs_ag,event,days_waiting
0,2017-06-29,67,1.0,M,Branca,other,True,False,A,0,False,False,0,1,26,44,51,3,7,heterozygous,heterozygous,heterozygous,False,False,False,waiting,392
1,2008-11-03,58,4.0,M,Branca,diabetes,False,False,A,0,False,False,0,1,24,18,35,11,0,homozygous,heterozygous,heterozygous,False,False,False,died_waiting,2066
2,2010-07-13,51,2.0,M,Branca,hypertension,True,False,O,0,False,False,64,24,25,14,18,1,15,heterozygous,heterozygous,heterozygous,False,False,False,removed,365
3,2011-10-03,52,17.0,M,Branca,diabetes,False,False,O,0,False,True,2,24,25,14,18,1,15,heterozygous,heterozygous,heterozygous,False,False,False,removed,365
4,2006-07-05,67,68.0,M,Parda,hypertension,True,False,A,0,False,False,0,24,68,14,27,13,15,heterozygous,heterozygous,heterozygous,False,False,False,died_waiting,194

In [30]:
df_mapped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48153 entries, 0 to 48152
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date_registered         48153 non-null  datetime64[ns]
 1   age_registered          48153 non-null  int64
 2   dialysis_session_count  48153 non-null  float64
 3   sex                     48153 non-null  object
 4   race                    48153 non-null  object
 5   underlying_disease      48153 non-null  object
 6   diabetes                48153 non-null  bool
 7   chagas                  48153 non-null  bool
 8   blood_type              48153 non-null  object
 9   transfusion_count       48153 non-null  int64
 10  gestation               48153 non-null  bool
 11  prior_transplant        48153 non-null  bool
 12  c_pra                   48153 non-null  int64
 13  hla_a1                  48153 non-null  int64
 14  hla_a2                  48153 non-null  int64
 15  hla_b1                  48153 non-null  int64
 16  hla_b2                  48153 non-null  int64
 17  hla_dr1                 48153 non-null  int64
 18  hla_dr2                 48153 non-null  int64
 19  dr_00                   48153 non-null  object
 20  b_00                    48153 non-null  object
 21  a_00                    48153 non-null  object
 22  anti_hbc                48153 non-null  bool
 23  anti_hcv                48153 non-null  bool
 24  hbs_ag                  48153 non-null  bool
 25  event                   48153 non-null  object
 26  days_waiting            48153 non-null  int64
dtypes: bool(7), datetime64[ns](1), float64(1), int64(10), object(8)
memory usage: 7.7+ MB

In [31]:
df_mapped.to_csv('waitlist_kidney_brazil_prepared_sensitive.csv',index=False)